In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
# load runners data
runners_df = pd.read_csv('MyBerlin_1999-2023.csv')

# load weather data
weather_df = pd.read_csv('Berlin_Marathon_weather_data_since_1974.csv')

# print data preview
print(runners_df.head())
print(weather_df.head())

   index  Year  platz  nachname   vorname nation  ak sex        z5       z10  \
0      0  1999      1   Kiprono  Josephat    KEN  25   M  00:15:09  00:30:21
1      1  1999      2  Inubushi  Takayuki    JPN  25   M  00:15:09  00:30:21
2      2  1999      3    Kandie    Samson    KEN  25   M  00:15:10  00:30:21
3      3  1999      4     Chatt    Hicham    MAR  25   M  00:15:11  00:30:23
4      4  1999      5   Cherono     Henry    KEN  25   M  00:15:10  00:30:21

        z15       z20       z25       z30       z35       z40 halbmarathon  \
0  00:45:25  01:00:34  01:14:54  01:30:10  01:45:05  02:00:08     01:03:54
1  00:45:27  01:00:36  01:14:56  01:30:18  01:45:21  02:00:18     01:03:54
2  00:45:27  01:00:35  01:14:55  01:30:18  01:45:59  02:01:41     01:03:54
3  00:45:27  01:00:36  01:14:56  01:30:24  01:46:14  02:02:52     01:03:55
4  00:00:00  01:00:35  01:14:55  01:30:18  01:46:14  02:02:58     01:03:55

      netto
0  02:06:44
1  02:06:57
2  02:08:31
3  02:09:56
4  02:10:37
   YEAR  PRECIP_mm  SUNSHINE_hrs  CLOUD_hrs  ATMOS_PRESS_mbar  AVG_TEMP_C  \
0  1974        0.0           0.2        7.0            1009.5         5.4
1  1975        4.2           9.4        3.0            1011.4        14.3
2  1976        3.0          10.2        3.3            1010.4        12.8
3  1977       11.2           0.0        8.0            1013.1         9.7
4  1978        1.8           2.7        6.0            1000.6        11.2

   MAX_TEMP_C  MIN_TEMP_C
0         8.8         1.1
1        20.1         9.5
2        18.0         7.3
3        12.5         7.4
4        14.5         9.4

d:\IFT\data visualization\tp1\exercices_python\venv\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
weather_df = weather_df.rename(columns={'YEAR': 'Year'})
# merge two dataframes
merged_df = pd.merge(runners_df, weather_df, on='Year', how='left')

# print merged data preview
print(merged_df.head())

   index  Year  platz  nachname   vorname nation  ak sex        z5       z10  \
0      0  1999      1   Kiprono  Josephat    KEN  25   M  00:15:09  00:30:21
1      1  1999      2  Inubushi  Takayuki    JPN  25   M  00:15:09  00:30:21
2      2  1999      3    Kandie    Samson    KEN  25   M  00:15:10  00:30:21
3      3  1999      4     Chatt    Hicham    MAR  25   M  00:15:11  00:30:23
4      4  1999      5   Cherono     Henry    KEN  25   M  00:15:10  00:30:21

   ...       z40 halbmarathon     netto PRECIP_mm SUNSHINE_hrs CLOUD_hrs  \
0  ...  02:00:08     01:03:54  02:06:44       1.2          0.0       6.3
1  ...  02:00:18     01:03:54  02:06:57       1.2          0.0       6.3
2  ...  02:01:41     01:03:54  02:08:31       1.2          0.0       6.3
3  ...  02:02:52     01:03:55  02:09:56       1.2          0.0       6.3
4  ...  02:02:58     01:03:55  02:10:37       1.2          0.0       6.3

  ATMOS_PRESS_mbar AVG_TEMP_C  MAX_TEMP_C  MIN_TEMP_C
0            997.7       15.1        17.0        12.9
1            997.7       15.1        17.0        12.9
2            997.7       15.1        17.0        12.9
3            997.7       15.1        17.0        12.9
4            997.7       15.1        17.0        12.9

[5 rows x 25 columns]

In [6]:
# convert time to minutes
def time_to_minutes(time_str):
    h, m, s = map(int, time_str.split(':'))
    return h * 60 + m + s / 60

merged_df['netto_minutes'] = merged_df['netto'].apply(time_to_minutes)

# print converted time
print(merged_df[['netto', 'netto_minutes']].head())

      netto  netto_minutes
0  02:06:44     126.733333
1  02:06:57     126.950000
2  02:08:31     128.516667
3  02:09:56     129.933333
4  02:10:37     130.616667

In [7]:
# mark elite runners
merged_df['is_elite'] = merged_df.groupby('Year')['platz'].transform(lambda x: x <= 10)

print(merged_df[['Year', 'platz', 'is_elite']].head(10))

   Year  platz  is_elite
0  1999      1      True
1  1999      2      True
2  1999      3      True
3  1999      4      True
4  1999      5      True
5  1999      6      True
6  1999      7      True
7  1999      8      True
8  1999      9      True
9  1999     10      True

In [ ]:
def assign_level(series):
    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    conditions = [
        (series <= q1), # 0-25%, high
        (series > q1) & (series <= q3), # 25-75%, medium
        (series > q3) # 75-100%, low
    ]
    choices = ['High', 'Medium', 'Low']
    return np.select(conditions, choices, default='Medium')

# assign level
merged_df['level'] = merged_df.groupby('Year')['netto_minutes'].transform(assign_level)

print(merged_df.head(20))

    index  Year  platz         nachname     vorname nation  ak sex        z5  \
0       0  1999      1          Kiprono    Josephat    KEN  25   M  00:15:09
1       1  1999      2         Inubushi    Takayuki    JPN  25   M  00:15:09
2       2  1999      3           Kandie      Samson    KEN  25   M  00:15:10
3       3  1999      4            Chatt      Hicham    MAR  25   M  00:15:11
4       4  1999      5          Cherono       Henry    KEN  25   M  00:15:10
5       5  1999      6           Glinka    Waldemar    POL  30   M  00:15:11
6       6  1999      7       Nascimento  Eduardo do    BRA  25   M  00:15:11
7       7  1999      8           Ndungu     Stephen    KEN  30   M  00:15:11
8       8  1999      9         Tokunaga     Daisuke    JPN  30   M  00:15:13
9       9  1999     10         de Souza  JosÃ© Teles    BRA  25   M  00:00:00
10     10  1999     11          Kariuki      Joseph    KEN  25   M  00:15:11
11     11  1999     12           Thlobo       Ezael    RSA  35   M  00:15:11
12     12  1999     13          Glogosz    Grzegorz    POL  30   M  00:15:08
13     13  1999     14         Yokoyama         Kei    JPN  25   M  00:15:10
14     14  1999     15        Kobayashi       Seiji    JPN  25   M  00:15:14
15     15  1999     16        Negolepus      Joseph    KEN  25   M  00:15:11
16     16  1999     17  Jimenez-Cancini      Sergio    MEX  30   M  00:15:11
17     17  1999     18          Wenisch         Max    AUT  35   M  00:15:33
18     18  1999     19           Franke    Stephane    GER  35   M  00:15:08
19     19  1999     20          Tenorio    Franklin    ECU  30   M  00:15:31

         z10  ... PRECIP_mm SUNSHINE_hrs CLOUD_hrs ATMOS_PRESS_mbar  \
0   00:30:21  ...       1.2          0.0       6.3            997.7
1   00:30:21  ...       1.2          0.0       6.3            997.7
2   00:30:21  ...       1.2          0.0       6.3            997.7
3   00:30:23  ...       1.2          0.0       6.3            997.7
4   00:30:21  ...       1.2          0.0       6.3            997.7
5   00:30:33  ...       1.2          0.0       6.3            997.7
6   00:30:22  ...       1.2          0.0       6.3            997.7
7   00:30:23  ...       1.2          0.0       6.3            997.7
8   00:30:32  ...       1.2          0.0       6.3            997.7
9   00:30:21  ...       1.2          0.0       6.3            997.7
10  00:30:22  ...       1.2          0.0       6.3            997.7
11  00:30:22  ...       1.2          0.0       6.3            997.7
12  00:30:31  ...       1.2          0.0       6.3            997.7
13  00:30:33  ...       1.2          0.0       6.3            997.7
14  00:30:57  ...       1.2          0.0       6.3            997.7
15  00:30:21  ...       1.2          0.0       6.3            997.7
16  00:30:31  ...       1.2          0.0       6.3            997.7
17  00:31:31  ...       1.2          0.0       6.3            997.7
18  00:30:21  ...       1.2          0.0       6.3            997.7
19  00:30:50  ...       1.2          0.0       6.3            997.7

   AVG_TEMP_C MAX_TEMP_C MIN_TEMP_C netto_minutes  is_elite  level
0        15.1       17.0       12.9    126.733333      True   High
1        15.1       17.0       12.9    126.950000      True   High
2        15.1       17.0       12.9    128.516667      True   High
3        15.1       17.0       12.9    129.933333      True   High
4        15.1       17.0       12.9    130.616667      True   High
5        15.1       17.0       12.9    131.883333      True   High
6        15.1       17.0       12.9    132.200000      True   High
7        15.1       17.0       12.9    132.383333      True   High
8        15.1       17.0       12.9    133.150000      True   High
9        15.1       17.0       12.9    133.416667      True   High
10       15.1       17.0       12.9    133.966667     False   High
11       15.1       17.0       12.9    134.583333     False   High
12       15.1       17.0       12.9    134.916667     False   High
13       15.1       17.0       12.9    135.550000     False   High
14       15.1       17.0       12.9    135.766667     False   High
15       15.1       17.0       12.9    136.650000     False   High
16       15.1       17.0       12.9    136.666667     False   High
17       15.1       17.0       12.9    136.750000     False   High
18       15.1       17.0       12.9    136.983333     False   High
19       15.1       17.0       12.9    137.100000     False   High

[20 rows x 28 columns]